mat-toolbar {
  padding: 0 6rem;
  flex-wrap: wrap;
}
.brand {
  font-size: 1.5rem;
  flex: 0;
  padding: 0.5rem 1rem;
  border: 2px solid;
  a {
    text-decoration: none;
    color: black;
  }
}
.searchbar {
  flex: 0.3;
  margin-left: 1.5rem;
}
.right-menu {
  flex: auto;
  text-align: right;
  a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 1.5rem;
  }
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 85px;
}

@media screen and (max-width: 784px) {
  mat-toolbar {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 650px) {
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    padding-top: 0.6rem;
    height: 75px;
    justify-content: center;
    .brand {
      padding-right: 0;
      flex: 0;
      padding: 0;
      border: none;
    }
    .searchbar {
      order: 1;
      margin-top: 2.6rem;
    }
    .right-menu {
      order: 0;
      text-align: center;
    }
  }
}
@media screen and (max-width: 612px) {
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    .searchbar {
      margin-top: 2.6rem;
    }
    .right-menu {
      text-align: right;
    }
  }
}
