.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  position: relative;
  margin-top: 1rem;
}
.description {
  font-size: 1.3rem;
  text-align: center;
  padding-top: 2rem;
}
.weather-section {
  width: 12%;
}
.spinner {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.5;
}

@for $i from 1 through 8 {
  $bgColor: #0f1f35;
  app-weather-card:nth-child(#{$i}) {
    background-color: lighten($bgColor, $i * 8%);
  }
}

@media screen and (max-width: 1125px) {
  .container {
    .weather-section {
      width: 15%;
    }
  }
}

@media screen and (max-width: 950px) {
  .container {
    .weather-section {
      width: 22%;
    }
  }
  .description {
    padding-top: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .container {
    .weather-section {
      width: 40%;
    }
  }
}
@media screen and (max-width: 458px) {
  .container {
    padding-top: 0;
    .weather-section {
      width: 70%;
    }
  }
  .description {
    padding-top: 0;
  }
}
